.Cdashboard-Card-BoxShadow {
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Cdashboard-Card-BoxShadow:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}